@tailwind base;
@tailwind components;
@tailwind utilities;

.light-mode {
  --background: #ffffff;
  --secondary-bg: #a1a1aa;
  --primary-text: #22272a;
  --secondary-text: #378173;
  --tertiary-bg: #909095;
  --nav-bg: #f5f5f5;
}
.dark-mode {
  --background: #1d1f20;
  --secondary-bg: #a1a1aa;
  --primary-text: #c8c9cb;
  --secondary-text: #a0ad94;
  --tertiary-bg: #8c8c92;
  --nav-bg: #252728;
}

@font-face {
  font-family: "mono-bold";
  font-weight: 700;
  src: url(../public/assets/fonts/SpaceMono-Bold.ttf);
}
@font-face {
  font-family: "mono-regular";
  font-weight: 400;
  src: url(../public/assets/fonts/SpaceMono-Regular.ttf);
}

.no-scrollbar::-webkit-scrollbar {
  /* display: none; */
  height: 2.5px;
  border-radius: 100%;
  background-color: rgb(185, 182, 182);
}
.no-scrollbar::-webkit-scrollbar-track {
  background: var(--tertiary-bg);
}
